.main-header {
  background-color: #e6f2ff;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  margin-top: 0px;
  display: flex;
  align-items: center;
  
}

.menu-style {
  font-family: Georgia, "Times New Roman", Times, serif;
  
}

a {
  text-decoration: none;
}

.menu-style li {
  display: inline;
  margin: 30px;
  background-color: #e6f2ff;
  font-size: 25px;
}

